target/
*~
dist/

## Intellij IDEA
.idea/
*.iml
*/target/classes
*/generated
*/.m2
*/dist
*.ipr
.DS_Store

## Redis datastore
*.rdb

## node modules
modules/web/node_modules

## bower components
modules/web/app/bower_components
