<!DOCTYPE html>
<html ng-app="smartforms">

<head>
    <!-- Ref: http://startbootstrap.com/sb-admin-v2 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smart Forms</title>

    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dyn-style.css">

    <!-- Load scripts at the end for performance. -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/angular-dynamic-forms/dynamic-forms.js"></script>
    <script src="js/viewdef-module.js"></script>
    <script src="js/smartforms-module.js"></script>
    <script src="js/datasets-module.js"></script>
    <script src="js/instance-module.js"></script>
    <script src="js/app.js"></script>

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper" ng-controller="searchCtrl">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Smart Forms</a>
                <div class="input-group custom-search-form navbar-search" >
                    <input type="text" class="form-control" ng-model="query" placeholder="{{searchPlaceHolder}}" ng-keypress="handleKeyPress($event)">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="performSearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <div class="navbar-top-links navbar-right" ng-if="!signedin">
                        <button type="button" class="btn btn-link" ng-click="signin()">Sign In</button>
                    </div>

                    <ul class="navbar-top-links navbar-right" ng-if="signedin">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#/home" ng-click="signout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                </div>
            </div>

            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation" ng-if="signedin">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu" ng-controller="dataSetsCtrl">
                        <span></span>
                        <li ng-repeat="dataset in datasets">
                            <a ng-href="#/dataset/{{dataset.id}}"><i class="fa fa-bar-chart-o fa-fw"></i> {{dataset.name}}</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>

        </nav>

        <div ng-class="{ 'page-wrapper' : signedin, 'page-wrapper-nosidebar' : !signedin }">
            <span/>
            <div class="row">
                <div ng-view></div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

</html>
